.music-container {
  position: fixed;
  z-index: 2;
  width: 100%;
  top: 93.17%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: rgba(0, 0, 0, 0.415);
  border-radius: 5px;
  border: none;
}

.music-icon {
  font-size: 50px;
  color: rgba(255, 255, 255, 0.375);
  cursor: pointer;
}
